.main {
  background-color: #fff7ec;
  color: #000000;
  padding: 30px 0;
}

.darkMain {
  background-color: #000000bb;
  color: #ffffff;
}

.container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
